<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Aguarde ...</p>
</ngx-spinner>
<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
      <div class="h-100 d-md-flex align-items-center auth-side-img">
        <div class="col-sm-10 auth-content w-auto">
          <img src="assets/images/logo/new/logo.png" alt="" class="img-fluid" width="40%">
          <h1 class="text-white my-4">Welcome!</h1>
          <h4 class="text-white font-weight-normal">Diogo Nunes - UserRepository -Test<br/></h4>
        </div>
      </div>
      <div class="auth-side-form">
        <div class=" auth-content">
          <img src="assets/images/logo/new/logo.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
          <h3 class="mb-4 f-w-400">Login</h3>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="feather icon-mail"></i></span>
            </div>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" value="shawandpartners">
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="feather icon-lock"></i></span>
            </div>
            <input type="password" class="form-control" [(ngModel)]="senha" name="senha" value="123456">
          </div>

          <button class="btn btn-block btn-primary mb-0" (click)="login()" >Sign in</button>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  