<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Aguarde ...</p>
</ngx-spinner>
<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="user-profile-list">
      <button class="col-md-2 btn btn-primary" style="float:right;"  (click)="goToTheBottom()">Go Bottom!</button>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <label for="exampleInputEmail1" style="float:left;" >Since</label>
          <input type="text" class="form-control col-md-4" [(ngModel)]="since"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'
         placeholder="Digite seu filtro, sera feito uma busca em todas as colunas"style="float:left;clear:both" > 
         <button (click)="getUsers()" class="form-control btn btn-primary col-md-2" style="float:left; margin-left:5px;">Search</button>
       
        </div>
        
      </div>
      <br>
      <div class="dt-responsive table-responsive">
        <table datatable class="table table-striped row-border table-hover">
          <thead>
              <tr>
                <th>User Id</th>
                <th>Login</th>
                <th>Actions</th>
              </tr>
            </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.login}}</td>
              <td>
              <button type="button" (click)="openDetails(user)" class="btn btn-icon btn-warning"
                  ngbTooltip="See Details"><i class="fas fa-eye "></i> </button> &nbsp;&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12"  style="margin:15px auto; text-align:center">
         <button (click)="getMoreUsers()" *ngIf="this.showMoreItens" style="margin:0px auto;"class="form-control btn btn-primary col-md-6">Load More Itens +</button>
        </div>
      </div>
      <div>
        <button class="col-md-2 btn btn-primary" style="float:right;"  (click)="goToTheTop()">Go Top!</button>
      </div>
    </app-card>
  </div>
  
</div>